.NLog
.vs
bin
obj
Debug
packages
Publish
Rubbish
*.bak
*.DS_Store
*.log
*.suo
*.user
*.pdb
desktop.ini
Thumbs.db
vwd.webinfo
/WebApp/BeachCleanup/bin/BeachCleanup.dll
/WebApp/BeachCleanup/Upload/Dirty
